@media screen and (max-width: 1200px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1015px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
  .main-container{
    margin-right: 10px;
  }
  .playlist-container{
    max-height: 1804px;
  }
   .offer__scroll-container {
  max-height: 1604px;
  max-width: 560px;
  border-radius: 10px;
  }
  .header__search{
    width: 250px;
  }
  .cort {
    overflow-y: none;
    height: auto;
  }
  .playlist-container{
    height: 100vh;
  }
  .music-display {
    display: block;
  }

}
